:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-container {
  padding: 0.5em 2em;
  background-color: rgb(223, 22, 22);
  width: 47%;
  margin: 2em auto 0;
  border-radius: 2%;
}

.header {
  font-size: 3em;
  text-align: center;
  margin: 0.2em;
  color: rgb(182, 161, 43);
  font-family: "Redressed", cursive;
}

.title-focus {
  font-size: 1.5em;
  margin: 0.3em;
}

#buttons {
  display: flex;
  /* justify-content: space-around; */
}

#buttons * {
  border-radius: 2%;
  padding: 1em;
  margin: 1em auto;
  font-size: 1em;
}

#reset {
  border: 1px transparent solid;
}

#default-color {
  background: black;
  color: white;
  border: 1px black solid;
}

#random-color {
  border: 1px transparent solid;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 255, 192, 1) 50%,
    rgba(214, 0, 255, 1) 100%
  );
}

#grid-container {
  display: grid;
  /* Give each gridrow & gridcol equal space. */
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

  background-color: #ccc;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  min-height: 600px;
}

.grid-item {
  border: 1px solid #777;
  text-align: center;
}

.black {
  background-color: #000;
}
