:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-gap: 0.1em;
  /* Give each gridrow & gridcol equal space. */
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

  margin: 0 auto;
  max-width: 750px;
  max-height: 750px;
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}

.black {
  background-color: #000;
}
