html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 1px solid black;
}

.grid-row {
  display: flex;
  flex: 1;
}

.grid-cell {
  flex: 1;
  border: 1px solid black;
}

.filled {
  background-color: black;
}